h1{
	text-align: center;
	font-family: Roboto Condensed;
	font-size: 40px;
	margin: 0;
	padding: 50px 0 0 0;
}

h2,h3,h4,h5{
	text-align: center;
	font-family: Roboto Condensed;
}

p{
	margin: 5px 0;
	text-align: left;
}

body{
	font-family: Roboto Condensed;
	color: #fff;
	overflow: hidden;
}

.banner{
	background-image: url("images/Banner.jpg");
	background-position: center;
	background-size: cover;
	display: block;
	min-height: 100vh;
}

@media screen and (min-width: 800px) {
	
	h1{
		text-align: center;
		font-family: Roboto Condensed;
		font-size: 75px;
		padding: 50px;
		margin: 0;
		padding: 50px 0 0 0;
	}
	
	.mainTitle{
		font-family: East Sea Dokdo;
		font-size: 128px;
		text-align: center;
		color: #fff;
		text-shadow: 0 0 16px #0006;
		margin: 0 50px 0 50px;
	}
	
	.button {
		width: 256px;
		height: 64px;
		font-size: 32px;
		color: #fff;
		background-color: #0000;
		border: 2px solid #fff;
		border-radius: 6px;
		margin: 10px;
		box-shadow: 0 0 16px #0006;
		text-shadow: 0 0 16px #0006;
		transition: 0.25s;
	}

	.container{
		max-width: 800px;
		display: block;
		align-items: center;
		margin: auto;
		padding: 10px 0 10px 0;
		background-color: #0000;
	}

	.titleContainer{
		max-width: 800px;
		display: block;
		align-items: center;
		background-image: url("images/ContainerIdle.png");
		background-size: cover;
		background-color: #0002;
		margin: auto;
		padding: 0 0 50px 0;
		transition: .5s;
	}

	.titleContainer:hover{
		background-color: #000f;
		background-image: url("images/Container.png");
	}

	.tosContainer{
		max-width: 800px;
		display: block;
		align-items: left;
		background-color: #fff;
		color: #000;
		margin: auto;
		padding: 20px;
		line
	}

	.button:hover {
		background-color: #fff2;
		cursor: pointer;
	}
}

@media screen and (max-width: 800px) {
	.mainTitle{
		font-family: East Sea Dokdo;
		font-size: 64px;
		text-align: center;
		color: #fff;
		text-shadow: 0 0 16px #0006;
		margin: 0;
	}
	.titleContainer{
		max-width: 400px;
		display: inline;
		align-items: center;
		background-size: cover;
		background-color: #0006;
		margin: auto;
		padding: 0 0 50px 0;
		transition: .5s;
		}

	.tosContainer{
		max-width: 500px;
		display: block;
		align-items: left;
		background-color: #fff;
		color: #000;
		margin: auto;
		padding: 20px;
	}
	
	.container{
		max-width: 800px;
		display: block;
		align-items: center;
		margin: auto;
		padding: 10px 0 10px 0;
		background-color: #0000;
	}
		
	.button {
		width: 128px;
		height: 32px;
		font-size: 16px;
		color: #fff;
		background-color: #0000;
		border: 1px solid #fff;
		border-radius: 3px;
		margin: 5px;
		box-shadow: 0 0 8px #0006;
		text-shadow: 0 0 8px #0006;
		transition: 0.25s;
	}
}

.avatar{
	height: 100px;
	width: 100px;
	margin: 0 0 36px 0;
	border: 3px solid #fff;
	border-radius: 50%;
}