body {
	font-family: Rubik;
	overflow: hidden;
}

.banner{
	background-image: url("images/Banner.jpg");
	background-position: center;
	background-size: cover;
	display: block;
	width: 100vw;
	height: 100vh;
}