body {
  overflow: hidden;
}

.banner{
	background-image: url("images/Banner.jpg");
	background-position: center;
	background-size: cover;
	display: block;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}