body {
    font-family: "Open Sans";
    color: #fff;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.start-body {
    transition: 5s;
    background-color: #707585;
    height: 100%;
    width: 100%;
    display: flex;
}
    .start-body:has(:hover) {
        background-color: #100;
    }

.start-menu {
    width: 700px;
    height: 500px;
    background-color: #d0cac8;
    transition: 5s;
    border-radius: 100px;
    box-shadow: #fea 0 0 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
    .start-menu:hover {
        width: 600px;
        height: 600px;
        background-color: #f00;
        border-radius: 300px;
        box-shadow: #f00 0 0 1000px;
    }
#start-menu-button {
    height: 50px;
    width: 150px;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 0;
    margin: auto;
    background-color: #0000;
    border: 3px solid #000;
    border-radius: 12px;
    transition: 0.1s;
    font-weight: 800;
}
    #start-menu-button:hover {
        background-color: #0001;
        box-shadow: #0005 0 2px 5px;
    }
    #start-menu-button:active {
        background-color: #fff2;
        box-shadow: #fff5 0 -2px 5px;
        border-color: #333;
        color: #333;
        top: 40.5%;
    }

.start-menu-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
    margin: auto;
    color: #000;
    text-align: center;
}

.start-menu-subtitle {
    position: absolute;
    left: 0;
    right: 0;
    top: 48%;
    bottom: 0;
    margin: auto;
    color: #000;
    text-align: center;
}

showSection {
    display: flex;
    height: 100%;
    width: 100%;
}

hideSection {
    display: hidden;
    height: 0%;
    width: 0%;
}